/themes
/icons/*
!/icons/default

/Shared\ config/*
!/Shared\ config/alacritty
!/Shared\ config/dunst
!/Shared\ config/eww
/Shared\ config/eww/github
!/Shared\ config/fish
/Shared\ config/fish/fish_variables
!/Shared\ config/handlr
!/Shared\ config/helix
!/Shared\ config/kitty
!/Shared\ config/MangoHud
!/Shared\ config/mimeapps.list
!/Shared\ config/neofetch
!/Shared\ config/nvim

dev/untrackedFiles.fish

