/themes/*
/icons/*
!/icons/default
/Shared config/*
!/Shared config/alacritty
/Shared config/alacritty/themes/ayu_light.yaml
/Shared config/alacritty/themes/city_lights.yaml
/Shared config/alacritty/themes/monokai_pro.yaml
!/Shared config/dunst
!/Shared config/fish
/Shared config/fish/fish_variable
!/Shared config/flameshot
!/Shared config/handlr
!/Shared config/neofetch
!/Shared config/nvim
!/Shared config/mimeapps.list
/Shared config/pipewire
/Shared config/wireplumber
/WM/hyprland/hypr/hyprpaper.conf
