/themes
/icons
/.config/*
!/.config/alacritty
/.config/alacritty/themes/ayu_light.yaml
/.config/alacritty/themes/city_lights.yaml
/.config/alacritty/themes/monokai_pro.yaml
!/.config/dunst
!/.config/fish
!/.config/flameshot
!/.config/handlr
!/.config/hypr
!/.config/i3
!/.config/neofetch
!/.config/nvim
!/.config/polybar
!/.config/rofi
!/.config/waybar
!/.config/wlogout
!/.config/wofi
!/.config/mimeapps.list
/.config/pipewire
/.config/wireplumber
