* {
  font-family: Roboto Mono;
  font-size: 13.5px;
  color: #FFFFFF;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(0,0,0,0);
}

/* Fix: Turn off default animations */
#workspaces button {
  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
}

/*all modules (main style)*/
.module {
  margin: 0 0.25em;
  padding: 0.3em 0.5em;
  border-radius: 1em;
} 
/*visable modules*/
.module {
  background-color: rgba(48,45,45,0.8);
}

/*invisable modules (disable background)*/
#keyboard-state.caps,
#tray {
   background-color: rgba(0,0,0,0);
}

/*color font modules*/
#language {
  color: #56f595;
}
#window {
  color: #929db1;
}
#custom-poweroff {
  color: #e06c75;
}
#custom-suspend {
  color: #1487fa;
}
#custom-logout {
  color: #bbbbbb;
}
#custom-reboot {
  color: #ecc30e;
}

#pulseaudio,
#wireplumber {
  color: #0fb9b1;
}
#cpu {
  color: #61afef;
}
#temperature {
  color: #98c379;
}
#memory {
  color: #e5c07b;
}
#network {
  color: #c678dd;
}
#clock {
  color: #dddddd;
}

/*Допиливание под мой вкус (animation)*/
/*
FIXME: НЕ реализованно в GTK
#workspaces button :hover {
  cursor: pointer;
}
#workspaces button.active :hover {
  cursor: default;
}*/

/*revision*/
#workspaces button {
  margin-right: 0.4em; /*fix for symbols*/
}

#custom-poweroff,
#custom-suspend,
#custom-logout,
#custom-reboot{
  padding-right: 0.7em;
}
#window {
  min-width: 0.9em;
}
