[Unit]
Description=Lock screen when going to sleep/suspend
Before=sleep.target
Before=suspend.target

[Service]
User=%I
Type=forking
ExecStart=/home/mark/.script/systemdLock.sh
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target

